*{
    text-align: center;
}
div{
    height: 200px;
    width: 200px;
    background-color:blue;
    transition: margin-top 2s ease-in-out; /* transition: duration , delay timing-function */
}

div:hover{
    
    margin-top: 500px;
}
/* transition - 1s is the duration of the transition effect */
/* This is a simple hover effect that changes the background color and makes the div circular */

/* transition shorthand */
/* div{
    height: 200px;
    width: 200px;
    background-color:blue;
    transition: background-color 1s, border-radius 1s;
}

div:hover{
    background-color: brown;
    border-radius: 50%;
} */